 body {
            color: whitesmoke;
            background-color: #161515;
            font-style: normal;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            margin: 0;
            padding: 0; 
            text-align: center;
            text-decoration: none;
            text-transform: none;
            transition: all 0.3s ease;
            box-sizing: border-box;
            overflow-x: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }